main {
    background-image: linear-gradient(to bottom, #429488 20%, #dadbd5 20% 80%);
}

.white {
    background-color: #fafafa;
}

ul {
    list-style: none;
}

.font-grey {
    color: #b1b1b1;
}

.img-avatar {
    width: 75px;
    border-radius: 50%;
}

.user-chat-head,
.user-profile-head {
    height: 120px;
    background: #eaeaea
}

.user-chat-head i,
.user-profile-head i {
    font-size: 20px;
    cursor: pointer;
}

.user-chat-head {
    border-left: 2px solid #d6d6d6;
}

.chat {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 200px);
    overflow: hidden;
    overflow-y: scroll;
}

.green-chat,
.white-chat {
    width: 100%;
}

.white-chat .message {
    background-color: #fff;
    border-radius: 10px;
}

.green-chat .message {
    background-color: #056162;
    border-radius: 10px;
    color: #fff;
}

.chat-input {
    height: 80px;
    background: #eaeaea
}

.chat-input input {
    width: 80%;
    outline: none;
    border: none;
    border-radius: 10px;
}

.chat-input i {
    font-size: 26px;
    color: #6c7376;
}

.notifiche {
    background-color: #9fd8f8;
    height: 100px;
}

.notifiche .bell-icon-container {
    background-color: #f4fbfe;
    border-radius: 50%;
    color: #9fd8f8;
}

.search .search-container {
    background-color: #fff;
    height: 26px;
}

.search input {
    width: 100%;
    outline: none;
    border: none;
}

.contacts-list {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    height: 240px;
}

.contacts-list li {
    border-top: 2px solid #d6d6d6;
    border-right: 2px solid #d6d6d6;
    background: #fff;
}

.contacts-list li:first-child {
    border-top: none;
}