main {
    background-image: linear-gradient(to bottom, #429488 20%, #dadbd5 20% 80%);
}

ul {
    list-style: none;
}

.img-avatar {
    width: 100px;
    border-radius: 50%;
}

.chat {
    background-image: url(../img/mine.jpg);
}